* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.nav {
    padding: 20px 160px;
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 30px;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    height:300px;
    width: auto;
    padding: 0 160px;
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.content h1 {
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
}

.content h1, .content p, .content button {
    margin-bottom: 12px;
}

.button {
    border: none;
    width: 100px;
    height: 25px;
    background: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background: #5a96f7
}

.section {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

section h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.hero {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

section div div img {
    border: 3px solid blue;
    border-radius: 20px;
    margin-bottom: 20px;
}

.quote {
    background: #E5E7Eb;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    height: 300px;
    text-align: center;
    padding: 100px 200px;
}

.quote p{
    text-align: right;
}

.final {
    margin: 50px 200px;
    padding: 30px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#3882F6;
    color: white;
    border-radius: 5px;
}

.final button {
    border: 2px solid white;
}

.footer {
    background: #1f2937;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 30px;
}